# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# cache
*.checked
*.sha1
*.pom__md5
*.jar
**/null/**

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class


# specifics
**/wikipedia.dat
**/stackoverflow.csv
**/timeusage.csv
**/atussum.csv
